<div id="conteudo">
    <div class="conteudo-inner">
        <div class="conteudo-wrapper">
          <div class="conteudo-titleSection">
              <strong class="conteudo-title">Applications</strong>
          </div>
        </div>
    </div>
</div>
