<div class="conteudo-box">
    <div class="conteudo-boxInner">
      <form class="form" method="post" action="/users/ChangePassword">
        <h2>Change Password</h2>
        <div class="form-group">
          <label for="email">Current Password:</label>
          <div class="relative">
            <input name="CurrentPassword1" value='{{user.password}}' class="form-control" id="CurrentPassword" type="text" pattern="[a-zA-Z\s]+" required="" autofocus="" title="Username should only contain letters. e.g. Piyush Gupta" autocomplete="" placeholder="Type your name here...">
            <i class="fa fa-user"></i>
          </div>
        </div>
        <div class="form-group">
          <label for="email">New Password:</label>
          <div class="relative">
            <input name="NewPassword1" value='{{user.NewPassword}}' class="form-control"  type="email" required="" placeholder="Type your email address..." pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            <i class="fa fa-envelope"></i>
          </div>
        </div>
        <div class="form-group">
          <label for="rollno">Confirm Password:</label>
          <div class="relative">
            <input name="ConfirmPassword1" value='{{user.ConfirmPassword}}' class="form-control" type="text" required="" placeholder="Type your Roll Number...">
            <i class="fa fa-envelope"></i>
          </div>
        </div>
        <div class="tright">
          <a href=""><button class="movebtn movebtnre" type="Reset"><i class="fa fa-fw fa-refresh"></i> Reset </button></a>
          <button class="movebtn movebtnsu" type="Submit">Update <i class="fa fa-fw fa-paper-plane"></i></button>
        </div>
      </form>

    </div>
</div>
