<div class="conteudo-box">
    <div class="conteudo-boxInner">
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">Event Name : </span>
        <span style="font-size:1.5em;">{{result.name}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">Position : </span>
        <span style="font-size:1.5em;">{{result.position}}</span>
      </div>
      <div class="">
        <button type="button" class="btn btn-primary btn-lg pull-right" name="button"><i class="fa fa-note"></i> Apply Now</button>
      </div>

    </div>
</div>
