<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>TPC LNMIIT</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


      <link rel="stylesheet" href="/css/dashboard.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <div id="hit-menu" class="col-xs-hide col-sm-hide"></div>
    <div class="menu-mobile-background "></div>
    <div id="header">
        <div class="header-inner">
            <div class="header-topo">
                <button class="button-menu-mobile ">
                    <div class="box-stripes">
                        <span class="stripe-top"></span>
                        <span class="stripe-middle"></span>
                        <span class="stripe-bottom"></span>
                    </div>
                </button>
                <span class="header-nomeEmpresa header-nomeEmpresa_mobile col-xs-show col-sm-show">Dashboard</span>
                <a href="#" class="brand-icon">Training And Placement Cell, LNMIIT</a>
            </div>
        </div>
    </div>
    <div id="menu" class="">
        <div class="menu-header">
            <span class="shape-remove-shadow_green"></span>
            <span class="shape-remove-shadow_white"></span>
            <div class="header-topo">
                <div class="header-controlMenu  col-sm-hide col-xs-hide">
                    <span class="header-nomeEmpresa">
                      <img src="/images/logo.gif" alt="LNMIIT" height="40px" width="Auto">
                    </span>

                    <div class="clear"></div>
                </div>
            </div>
            <div class="header-menu">
                <h1>Dashboard</h1>
            </div>
        </div>
        <div class="menu-box">
            <div class="menu-wrapper-inner">
                <div class="menu-wrapper">
                    <div class="menu-slider">
                        <div class="menu">
                            <ul >
                                <li>
                                    <div class="menu-item"><a href="#" class="menu-anchor" data-menu="1">Opportunities</a>
                                      <i class="fa fa-arrow-right pull-right main-arrow"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#">My Applications</a>

                                    </div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#" class="">Job Offers</a></div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#" class="menu-anchor" data-menu="4">Profile</a>
                                        <i class="fa fa-arrow-right pull-right main-arrow"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#" class="">About Us</a></div>
                                </li>
                            </ul>
                        </div>
                        <div class="submenu menu" data-menu="1">
                            <div class="submenu-back">
                                <div class="menu-item">
                                  <i class="fa fa-arrow-left pull-left submenu-arrow"></i>
                                  <a href="#" class="menu-back">

                                    BACK</a>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <div class="menu-item"><a href="#">Opportunities For Me</a></div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#">Opportunities For All</a></div>
                                </li>
                            </ul>
                        </div>
                        <div class="submenu menu" data-menu="4">
                            <div class="submenu-back">
                                <div class="menu-item">
                                  <i class="fa fa-arrow-left pull-left submenu-arrow"></i>
                                  <a href="#" class="menu-back">BACK</a></div>
                            </div>
                            <ul>
                                <li>
                                    <div class="menu-item"><a href="#">Personal</a></div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#">Academic</a></div>
                                </li>
                            </ul>
                        </div>
                        <div class="submenu menu" data-menu="3">
                            <div class="submenu-back">
                                <div class="menu-item">

                                  <a href="#" class="menu-back">BACK</a></div>
                            </div>
                            <ul>
                                <li>
                                    <div class="menu-item"><a href="#" >Subitem</a></div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#">Subitem</a></div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#">Subitem</a></div>
                                </li>
                            </ul>
                        </div>


                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="conteudo">
        <div class="conteudo-inner">
            <div class="conteudo-wrapper">
                <div class="conteudo-titleSection">
                    <strong class="conteudo-title">Title section</strong>
                    <!-- <div class="breadcrumb">
                        <a href="#" class="breadcrumb-link">Bread</a>
                        <span class="breadcrumb-separator">.</span>
                        <a href="#" class="breadcrumb-link">Bread 2</a>
                        <span class="breadcrumb-separator">.</span>
                        <a href="#" class="breadcrumb-link breadcrumb-link_ativo">Active Section</a>
                    </div> -->
                </div>
                <div class="conteudo-box">
                    <div class="conteudo-boxInner">
                        Lorem ipsum donec sidenuc
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script  src="/js/dashboard.js"></script>

</body>
</html>
