<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Responsive Dashboard</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  
      <link rel="stylesheet" href="/css/dashboard.css">

  
</head>

<body>
  <div id="hit-menu" class="col-xs-hide col-sm-hide"></div>
    <div class="menu-mobile-background "></div>
    <div id="header">
        <div class="header-inner">
            <div class="header-topo">
                <button class="button-menu-mobile ">
                    <div class="box-stripes">
                        <span class="stripe-top"></span>
                        <span class="stripe-middle"></span>
                        <span class="stripe-bottom"></span>
                    </div>
                </button>
                <span class="header-nomeEmpresa header-nomeEmpresa_mobile col-xs-show col-sm-show">Dashboard</span>
                <a href="#" class="brand-icon ">LOGO</a>
            </div>
            <div class="header-menu">
                <div class="menu-modulos">
                    <ul class="menu-modulosWrapper ">
                        <li class="menu-modulosBt">
                            <a href="#" class="menu-modulosBt-mainBt">ITEM 01</a>
                            <em class="menu-modulosFeed"></em>
                        </li>
                        <li class="menu-modulosBt">
                            <a href="#" class="menu-modulosBt-mainBt">ITEM 02</a>
                            <em class="menu-modulosFeed"></em>
                        </li>
                        <li class="menu-modulosBt">
                            <a href="#" class="menu-modulosBt-mainBt">ITEM 03</a>
                            <em class="menu-modulosFeed"></em>
                        </li>
                        <li class="menu-modulosBt">
                            <a href="#" class="menu-modulosBt-mainBt">ITEM 04</a>
                            <em class="menu-modulosFeed"></em>
                        </li>
                    </ul>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div id="menu" class="">
        <div class="menu-header">
            <span class="shape-remove-shadow_green"></span>
            <span class="shape-remove-shadow_white"></span>
            <div class="header-topo">
                <div class="header-controlMenu  col-sm-hide col-xs-hide">
                    <span class="header-nomeEmpresa">Dashboard</span>
                    <button class="header-controlMenuButton">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;" xml:space="preserve" class="detail convertSvgInline replaced-svg" data-id="61022" data-kw="go10">
<g>
	<g id="arrow-back">
		<path d="M408,178.5H96.9L239.7,35.7L204,0L0,204l204,204l35.7-35.7L96.9,229.5H408V178.5z"></path>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                    </button>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="header-menu">
                <div class="header-search ">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="imgView" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 485.213 485.213" style="enable-background:new 0 0 485.213 485.213;" xml:space="preserve" class="spt" data-id="34097" data-kw="magnifier12">
<g>
	<g>
		<path d="M363.909,181.955C363.909,81.473,282.44,0,181.956,0C81.474,0,0.001,81.473,0.001,181.955s81.473,181.951,181.955,181.951    C282.44,363.906,363.909,282.437,363.909,181.955z M181.956,318.416c-75.252,0-136.465-61.208-136.465-136.46    c0-75.252,61.213-136.465,136.465-136.465c75.25,0,136.468,61.213,136.468,136.465    C318.424,257.208,257.206,318.416,181.956,318.416z"></path>
		<path d="M471.882,407.567L360.567,296.243c-16.586,25.795-38.536,47.734-64.331,64.321l111.324,111.324    c17.772,17.768,46.587,17.768,64.321,0C489.654,454.149,489.654,425.334,471.882,407.567z"></path>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                    <input type="text" value="Some search field" /></p>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="menu-box">
            <div class="menu-wrapper-inner">
                <div class="menu-wrapper">
                    <div class="menu-slider">
                        <div class="menu">
                            <ul >
                                <li>
                                    <div class="menu-item"><a href="#" class="menu-anchor" data-menu="1">Item menu 1</a>
                                      <svg class="spt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="10px" height="10px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve">
<g>
	<path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744   L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284   c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                                  </div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#" class="menu-anchor" data-menu="2">Item menu 2</a>
                                      <svg class="spt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="10px" height="10px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve">
<g>
	<path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744   L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284   c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                                  </div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#" class="">Item menu 3</a></div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#" class="menu-anchor"  data-menu="3">Item menu 4</a>
                                  <svg class="spt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="10px" height="10px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve">
<g>
	<path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744   L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284   c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg></div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#" class="">Item menu 5</a></div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#" class="menu-anchor"  data-menu="4">Item menu 6</a>
                                  <svg class="spt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="10px" height="10px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve">
<g>
	<path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744   L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284   c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                                  </div>
                                </li>
                            </ul>
                        </div>
                        <div class="submenu menu" data-menu="1">
                            <div class="submenu-back">
                                <div class="menu-item">
                                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  x="0px" y="0px" width="10px" height="10px" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;" xml:space="preserve" class="spt">
<g>
	<path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0   c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744   c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                                  <a href="#" class="menu-back">BACK</a></div>
                            </div>
                            <ul>
                                <li>
                                    <div class="menu-item"><a href="#" class="menu-anchor" data-menu="5">Subitem</a>
                                  <svg class="spt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="10px" height="10px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve">
<g>
	<path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744   L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284   c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                                  </div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#">Subitem</a></div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#">Subitem</a></div>
                                </li>
                            </ul>
                        </div>
                        <div class="submenu menu" data-menu="2">
                            <div class="submenu-back">
                                <div class="menu-item">
                                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  x="0px" y="0px" width="10px" height="10px" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;" xml:space="preserve" class="spt">
<g>
	<path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0   c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744   c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                                  <a href="#" class="menu-back">BACK</a></div>
                            </div>
                            <ul>
                                <li>
                                    <div class="menu-item"><a href="#">Subitem</a></div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#">Subitem</a></div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#">Subitem</a></div>
                                </li>
                            </ul>
                        </div>
                        <div class="submenu menu" data-menu="3">
                            <div class="submenu-back">
                                <div class="menu-item">
                                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  x="0px" y="0px" width="10px" height="10px" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;" xml:space="preserve" class="spt">
<g>
	<path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0   c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744   c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                                  <a href="#" class="menu-back">BACK</a></div>
                            </div>
                            <ul>
                                <li>
                                    <div class="menu-item"><a href="#" >Subitem</a></div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#">Subitem</a></div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#">Subitem</a></div>
                                </li>
                            </ul>
                        </div>
                        <div class="submenu menu" data-menu="4">
                            <div class="submenu-back">
                                <div class="menu-item">
                                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  x="0px" y="0px" width="10px" height="10px" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;" xml:space="preserve" class="spt">
<g>
	<path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0   c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744   c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                                  <a href="#" class="menu-back">BACK</a></div>
                            </div>
                            <ul>
                                <li>
                                    <div class="menu-item"><a href="#">Subitem</a></div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#">Subitem</a></div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#">Subitem</a></div>
                                </li>
                            </ul>
                        </div>
                        <div class="submenu menu" data-menu="5">
                            <div class="submenu-back">
                                <div class="menu-item">
                                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  x="0px" y="0px" width="10px" height="10px" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;" xml:space="preserve" class="spt">
<g>
	<path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0   c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744   c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                                  <a href="#" class="menu-back">BACK</a></div>
                            </div>
                            <ul>
                                <li>
                                    <div class="menu-item"><a href="#">Subitem</a></div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#">Subitem</a></div>
                                </li>
                                <li>
                                    <div class="menu-item"><a href="#">Subitem</a></div>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="conteudo">
        <div class="conteudo-inner">
            <div class="conteudo-wrapper">
                <div class="conteudo-titleSection">
                    <strong class="conteudo-title">Title section</strong>
                    <div class="breadcrumb">
                        <a href="#" class="breadcrumb-link">Bread</a>
                        <span class="breadcrumb-separator">.</span>
                        <a href="#" class="breadcrumb-link">Bread 2</a>
                        <span class="breadcrumb-separator">.</span>
                        <a href="#" class="breadcrumb-link breadcrumb-link_ativo">Active Section</a>
                    </div>
                </div>
                <div class="conteudo-box">
                    <div class="conteudo-boxInner">
                        Lorem ipsum donec sidenuc
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script  src="/js/dashboard.js"></script>

</body>
</html>
