<form id="msform" action="/users/companyattachmentsUpload" method="post" enctype="multipart/form-data">
	<label for="">Resume Upload</label>
	<input type="file" name="file" placeholder="Attach files"/>

	<input type="submit" class="submit action-button" value="Submit"/>
</form>
